{% extends 'Index.html' %}

{% block content %}
    <h1>Создать новость</h1>

<table border="0" cellpadding="30" cellspacing="0">
    <tr>
        <td>
            <form  method="POST" action="http://t4fw/Admin/postAdd">
                <br><input required="" type="text" name="title" size="48" value="" > Заголовок <br>
                <br><textarea required="" cols="50" maxlength="10000" rows="20" name="text"></textarea><br>
                <!--<br><input required="" type="text" name="image" size="48" value="" > Логин <br>-->
                <!--<br><input required="" type="text" name="pass" size="48" value="" > Пароль <br>-->
                <!--<br><input required="" type="text" name="email" size="48" value="" > E-mail <br>-->
                <!--<br><input required="" type="hidden" name="dateRegister" size="48" value="{{ date().timestamp | date('m/d/Y') }}" > <br>-->

                <br><input type="submit" value="Опубликовать">
            </form>
        </td>
    </tr>
</table>
{% endblock %}

{% block end %}
{{item}}
{% endblock %}

